:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-;
  
}
html{
  scroll-behavior: smooth;
}
body{
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;

}
.section{
  background-color: black;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 3%;
}
.btn{
  color: white;
  font-weight:bold;
  border: none;
  background:linear-gradient(267deg, orange 0.36%,#B923E1 102.06%);
}

.span{ 
    font-size: larger;
    font-weight: bold;
    background:linear-gradient(267deg, orange 0.36%,#b537d8 106.06%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
